*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-height: 100vh;

}

.container{
    max-width: 800px;
    padding: 10px;
    margin: auto;
}
.txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

h3{
    margin: 10px 0;
}
.task{
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    border-radius: 30px;
    font-weight: bolder;
}

.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;

}

.comp .task{
    background: rgba(0, 0, 0, 0.39);
    color: white;
}
